body {
    margin: 0;
    display: grid;
    justify-content: center;
    overflow-x: hidden;
}

.title{
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.sub-title{
    width: 100%;
  font-size: 20px;
  color: #666666;
    text-align: center;
}

.song-area{
    width: 100%;
    min-height: 260px;
    display: flex;
    margin-top: 5px;
    padding: 5px;
}

.song-pic-area {
    width: 20%;
    min-width: 240px;
    height: 240px;
    overflow: hidden;
}

.song-pic-area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.song-info-area{
    min-width:960px;
    width: 80%;
    margin-top: 30px;
}

.song-name-area{
    min-height: 30px;
    font-size: 25px;
    margin:5px;
}

.song-author-area{
    min-height: 20px;
    font-size: 16px;
    margin:5px;
    color: #666666;
}

.song-chart-author-area{
    min-height: 20px;
    font-size: 16px;
    margin:5px;
    color: #666666;
    display: none;
}

.select-bar-area{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.select-bar{
    flex: 1;
    margin:5px;
    padding-top: 5px;
    height:35px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 3px 6px 3px #cccccc;
}

input {
    width: 80%;
    max-width: 100px;
    height: 20px;
    margin-left: 20px;
    border: 1px solid #19adf1;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #333;
}

#easy:hover{
    color: white;
    background-color:#12af47;
}

#hard:hover{
    color: white;
    background-color: #1aacac;
}

#master:hover{
    color: white;
    background-color: #8b28bd;
}

#hidden:hover{
    color: white;
    background-color: #463d83;
}

#pc:hover{
    color: white;
    background-color: #b2a500;
}

#mobile:hover{
    color: white;
    background-color: #a16101;
}

.user-underline{
    color: #0000ff;
    text-decoration: underline;
}   

.user-underline:hover{
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}

.user-underline:active{
    color: #ff00ff;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000; 
    padding: 8px;
    text-align: center;
}

thead th {
    background-color: #f2f2f2;
}

tbody tr {
    background-color: #e6f7ff; 
}

th:nth-child(1), td:nth-child(1) {
    width: 5%;
}

th:nth-child(2), td:nth-child(2) {
    word-break: break-all;
    width: 40%;
}

th:nth-child(3), td:nth-child(3) {
    width: 15%;
}

th:nth-child(4), td:nth-child(4) {
    width: 15%;
}

th:nth-child(5), td:nth-child(5) {
    width: 25%;
}

footer{
    min-height: 200px;
}

@media screen and (max-width: 1350px) {
    .song-area{
        width: 100%;
        min-height: 220px;
        display: flex;
        margin-top: 5px;
        padding: 5px;
    }
    .song-pic-area {
        width: 20%;
        min-width: 200px;
        height: 200px;
        overflow: hidden;
    }
    .song-info-area{
        min-width:800px;
        width: 80%;
        margin-top: 25px;
    }

}

@media screen and (max-width: 1080px) {
    .song-area{
        width: 100%;
        min-height: 170px;
        display: flex;
        margin-top: 5px;
        padding: 5px;
    }
    .song-pic-area {
        width: 25%;
        min-width: 160px;
        height: 160px;
        overflow: hidden;
    }
    .song-info-area{
        min-width:480px;
        width: 75%;
        margin-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .title{
        width: 100%;
      font-size: 25px;
        text-align: center;
    }
    .sub-title{
        width: 100%;
      font-size: 18px;
      color: #666666;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    .song-area{
        width: 100%;
        min-height: 130px;
        display: flex;
        margin-top: 5px;
        padding: 5px;
    }
    .song-pic-area {
        width: 25%;
        min-width: 120px;
        height: 120px;
        overflow: hidden;
    }
    .song-info-area{
        min-width:360px;
        width: 75%;
        margin-top: 15px;
    }
    input {
        width: 80%;
        max-width: 100px;
        margin-left: 0px;
        height: 20px;
        border: 1px solid #19adf1;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        color: #333;
    }
    th:nth-child(2), td:nth-child(2) {
        width: 40%;
        max-width: 120px;
    }
    .select-bar{
        flex: 1;
        margin:2px;
        padding-top: 2px;
        height:25px;
        border-radius: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 3px 3px 6px 3px #cccccc;
    }
}

@media screen and (max-width: 500px) {

    .song-area{
        width: 100%;
        min-height: 100px;
        display: flex;
        margin-top: 2px;
        padding: 2px;
    }
    .song-pic-area {
        width: 25%;
        min-width: 90px;
        height: 120px;
        overflow: hidden;
    }
    .song-info-area{
        min-width:270px;
        width: 75%;
        margin-top: 15px;
    }
    .song-name-area{
        min-height: 22px;
        font-size: 20px;
        margin:2px;
    }
    
    .song-author-area{
        min-height: 15px;
        font-size: 12px;
        margin:2px;
        color: #666666;
    }
    .song-chart-author-area{
        min-height: 15px;
        font-size: 12px;
        margin:2px;
        color: #666666;
        display: none;
    }
    th:nth-child(2), td:nth-child(2) {
        width: 40%;
        max-width: 100px;
    }
    .select-bar{
        flex: 1;
        margin:2px;
        padding-top: 2px;
        height:25px;
        border-radius: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 3px 3px 6px 3px #cccccc;
    }
}