<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户曲目查询</title>
    <link href="../../css/userb50.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <a href="../home">主页</a>
    <a href="../value">曲目</a>
    <a href="../search">查询用户</a>
    <a href="../alias">曲目别名</a>
    <a href="../guessgame">猜曲绘</a>
    <a href="../about">关于</a>
</div>
<div class="navbar-blank"></div>
  <div class="userdata-title">
    <div class="userdata-content">
        <div class="username">{{.UserName}}</div>
        <div class="userid">{{.UserId}}</div>  
    </div>
    <div class="userdata-rks">
        <div class="rks-title">RKS</div>
        <div class="rks-value">{{.TotalRKSValueSimple}}</div>      
    </div>  
  </div>
  <div class="divider"></div>
  <div class="song-pic-list" id="user-song-table">
    {{ range $index, $item := .UserSongInfoList }}
    <div class="song-data-frame" {{ if eq $item.IsUnknown 0 }} id="{{.AlbumCode}}-{{.SongCode}}-{{.DiffTierCode}}-{{.PlatformCode}}" {{ end }}>
    <div class="song-value-area" id="{{ $item.DiffTier }}">
          #{{ $index }} | {{ $item.RKSValueString }} | {{ $item.PlayTimeBefore }}
    </div>
    <div class="song-data-area">
        <div class="song-pic-area">
           <img src="../alias/pic/{{ $item.SongPic }}.png"></img>
           <div class="song-diff-area" id="{{ $item.DiffTier }}" >{{ $item.DiffValue }}</div>
        </div>
        <div class="song-detail-area">
           <div class="song-name-area">{{ $item.SongNameShort }}</div>
           <div class="song-parameter-area">
             <div class="song-parameter-left">
               <div class="song-acc-area">
                 <div class="song-acc-big-area">{{ $item.SongAccBig }}</div>
                 <div class="song-acc-small-area">.{{ $item.SongAccSmall }}</div> 
                 <div class="song-acc-big-area">%</div>
               </div>
               <div class="song-parameter-grid">
                 <div class="song-score-area">{{ $item.SongScore }}</div>
                 <div class="song-rank-area">#{{ $item.SongRank }}</div>
                 <div class="song-parameter-blank"></div>
               </div>
             </div>
             <div class="song-grade-area"></div>
           </div>
        </div>
    </div>
    <div class="song-setting-area" id="{{ $item.Platform }}">
      {{ $item.SongCharaName }} | {{ $item.SongElfinName }}
    </div>
    </div>
    {{ end }}
  </div>
  
</body>
<script src="../../js/usersong.js"></script>
</html>